<div class="ring-4 ring-emerald-600 rounded mb-20">
  <div class="bg-emerald-600 flex justify-between p-4 px-8 text-yellow-100">
    <p class="font-semibold text-2xl">{{name}}</p>
    <p class="font-light">Posted by {{user.name}} on {{format_date date_created}}</p>
  </div>
  <div class="p-4 pl-8 text-emerald-900 text-xl">
    {{content}}
  </div>
</div>

<div class="ring-4 ring-emerald-500 rounded mb-8">
  <div class="bg-emerald-500 flex justify-center p-4 px-8 text-yellow-100">
    <p class="font-semibold text-2xl">Comments</p>
  </div>

  {{#if logged_in}}
  <div>
    <div class="pt-8 pl-12 text-emerald-900 text-xl">
      <form class="new-comment-form">
        <p class="mr-8 mb-4 font-bold underline" id="comment-author">{{current_user}}</p>
        <div class="flex mb-8">
          <textarea class="ring-2 rounded p-2 md:w-9/12 w-8/12" type="password" id="comment-content" rows="3" cols="40" /></textarea>
          <button
            class="block md:w-2/12 w-3/12 text-yellow-100 text-xl bg-emerald-600 hover:bg-emerald-700 transition-all ring-2 rounded-lg ring-emerald-500 p-4 mx-auto"
            type="submit">
            Post Comment
          </button>
        </div>
      </form>
    </div>
  </div>
  {{/if}}

  <div class="md:grid md:grid-cols-2 lg:grid-cols-3 transition-all px-8 pb-12">
    {{#each comments as |comment|}}
    <div>
      <div class="flex pt-12 pl-12 text-emerald-900 text-xl">
        <p class="mr-6 font-bold underline">{{comment.user_name}}</p>
        <p class="font-light text-lg">{{format_date date_created}}</p>
      </div>
      <div class="pt-2 pl-20 text-emerald-900 text-xl">
        {{comment.content}}
      </div>  
    </div>
    
    {{/each}}
  </div>

</div>

<script src="/js/comment.js"></script>