{{#each projects as |project| }}
<div class="border-4 border-emerald-600 rounded mb-8">
  <a href="/project/{{project.id}}" class="bg-emerald-600 flex justify-between p-4 px-8 text-yellow-100">
    <p class="font-semibold text-2xl">{{project.name}}</p>
    <p class="font-light">Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </a>
  <div class="p-4 pl-8 text-emerald-900 text-xl">
      {{project.description}}
  </div>  
</div>
{{/each}}